* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}


.navbarContainer{
  width: 100%;
  padding: 1rem 2rem;
  border-bottom: solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarContainer button{
  border: solid blue;
  border-radius: 7px;
  margin-right: 2%;
  font-size: 16px;
  color: blue;
  padding: 5px 10px; 

}
.navbarLogo{
  display: flex;
  align-items: center;
  margin-left: 2%;
}

.teaser-body{
  text-align: center;
  margin-top: 5rem;
}








.footer{
  margin-top: 10rem;
  padding-top: 20px;
  border-top: solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}